/DataStructure/DataStructure/nbproject/private/
/javapallet-main/javapallet-main/nbproject/private/
/DataStructure/DataStructure/build/
/javapallet-main/javapallet-main/build/
/Controle De Paletes/javapallet-main/nbproject/private/